.animate-fadeIn {
    animation: cardFadeIn 0.5s ease-out forwards;
}

@keyframes cardFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.product-card-main {
    width: calc(100% / 4 - 9px);
    aspect-ratio: 1/1.4;
}


@media screen and (max-width:767px) {
    .product-card-main {
        width: calc(100% / 3 - 8px);
        aspect-ratio: 1/1.4;
    }
}

@media screen and (max-width:500px) {
    .product-card-main {
        width: calc(100% / 2 - 6px);
        aspect-ratio: 1/1.4;
    }
}

@media screen and (max-width:360px) {
    .product-card-main {
        width: 100%;
        aspect-ratio: 1/0.9;
    }
}