.animate-fadeIn {
    animation: cardFadeIn 0.5s ease-out forwards;
}

@keyframes cardFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}




@media screen and (max-width: 1158px) {
    .sticky-sidebar {
        top: 161px;
    }
}

@media screen and (max-width:1023px) {
    .sticky-sidebar {
        position: fixed;
        top: 50% !important;
        left: 50%;
        translate: -50% -50%;
        width: calc(100% - 50px);
        z-index: 99;
        box-shadow: 0 0 3px 100vh #000000ad;
        animation: popup-animate 0.5s ease 1 forwards;
    }

}

@keyframes popup-animate {
    from {
        opacity: 0;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}